body{
    padding: 0;
    margin: 0;

    font-family: 'Skalalend';
    font-style: normal;
    font-weight: normal;
}
.container{
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    header{
        width: 100%;
        display: flex;

        img{
            width: 90%;
            margin: 0 auto;
        }
    }
    h2{
        width: 100%;

        font-size: 30px;
        line-height: 46px;
        letter-spacing: 0.06em;

        color: #000000;
    }
}
.city{
    width: 100%;
    background-color: #8FD400;
    padding: 50px 0;

    .city__links{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;

        a{
            width: 100%;
            max-width: 400px;
            padding: 20px 0;

            background: #fff;
            border: 5px solid #78b400;
            box-sizing: border-box;
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;

            font-size: 30px;
            line-height: 28px;
            letter-spacing: 0.02em;

            text-decoration: none;
            color: #000000;
            
            margin: 30px auto;
        }
        a:hover{
            background: #e5ffad;
        }
    }
}